body{font-family: 'Roboto', sans-serif;
    margin: 0px;
}h1{font-size: 50px;}

h3{
    color: orange;
    font-size: 25px;
    h4{
        font-size: 20px;
    }
}
h2{
    font-size: 40px;
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom:150px;
}
.top-banner{
    background-image: url( imgs/exp-bg.png);
    background-repeat: no-repeat;
}
#orange-highlight{
    color:orangered;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 400px;
    background-color: white;
    
}
.dream-area{
    padding-bottom: 150px;
    background-image: url(imgs/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
    padding-top: 150px;
    background-image: url(imgs/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
#full{

    border-left: solid 7px;
    border-image: linear-gradient( 180deg,lightsalmon ,tomato);
    border-image-slice: 1;


}
#baby{border-left: solid 7px;
    border-image: linear-gradient( 180deg,lightsalmon ,tomato);
    border-image-slice: 1;

}